* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #060606;
  background-image:
    radial-gradient(
      at bottom left,
      #001f27,
      #060606 25%,
      #060606 80%,
      #2f011d 
    );
}