.home-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
}
.home-text {
    margin: 10rem auto;
    line-height: 4rem;
}
.home-text p {
    font-size: 40px;
}
.home-text h1 {
    font-size: 45px;
}
.home-text span {
    color: #E33FA1;
}
